<!--form.vtl-->
<h1>Enter the amount of change to be returned.</h1>
<form action='/make-change' method='get'>
  <div class="form-group">
    <label for="amount">Amount to be returned.</label>
    <input id="amount" name="amount" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Give me my change!</button>
</form>
<!--form.vtl-->
