<!--make-change.vtl-->
<h1>Here's your change.</h1>
<p>Amount owed: $amount</p>
<h2>Breakdown</h2>
<p>Quarters: $quarters</p>
<p>Dimes: $dimes</p>
<p>Nickels: $nickels</p>
<p>Pennys: $pennys</p>
<!--make-change.vtl-->
